@model IEnumerable<Recipe>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<partial name="_Notification" />

<body class="body">
    <div class="recipe-body-image" style="">
    </div>
    <div class="container">
        <div>
            <div class="row pt-4">
                <div>
                    <h1 class="recipe-info-heading">
                        RECIPES
                    </h1>
                </div>
            </div>
        </div>

        <div class="card-collection-container">
            <div display="flex" class="recipe-card-collection" style="">
                @foreach (var obj in Model)
                {

                    <div class="recipe-card">
                        <a asp-controller="Recipe" asp-action="RecipeInfo" asp-route-id="@obj.RecipeId" class="recipe-card-click"></a>
                        <div class="recipe-card-image">
                            
                        </div>
                        <div>
                            <div>
                                <h2 class="p-2" style="text-decoration:solid">@obj.Name</h2>
                                <p class="p-2" style="max-height:50%; overflow:clip;">@obj.Desc</p>
                            </div>

                        </div>


                        
                        <div style="display:flex; height:100%;">



                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div role="group" style=" padding:5px; min-height:25px; position:absolute; display:flex; align-items:end; height:100%">
                                    <a asp-controller="Recipe" asp-action="Select" asp-route-id="@obj.RecipeId" class="btn btn-success mx-1" style="border-radius:20px;"><i class="bi bi-arrow-down-circle"></i></a>
                                    <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@obj.RecipeId" class="btn btn-primary mx-1" style="border-radius:20px;"><i class="bi bi-pencil"></i></a>
                                    <a asp-controller="Recipe" asp-action="Delete" asp-route-id="@obj.RecipeId" class="btn btn-danger mx-1" style="border-radius:20px;"><i class="bi bi-trash"></i></a>

                                </div>
                            }




                        </div>



                    </div>
                }
            </div>

        </div>
        

    </div>
    

</body>

