@model IEnumerable<Recipe>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<partial name="_Notification" />

<body class="body">
    <div class="recipe-body-image" style="">
    </div>
    <div class="container">

        <div>
            <div>
                <h1 style="text-align:center; font-size:80px; color:white;">
                    RECIPES
                </h1>
            </div>

        </div>

        <div class="card-collection-container">
            <div display="flex" class="recipe-card-collection" style="">
                @foreach (var obj in Model)
                {

                    <div class="recipe-card">
                        <a asp-controller="Recipe" asp-action="RecipeInfo" asp-route-id="@obj.RecipeId" class="recipe-card-click"></a>
                        <div class="recipe-card-image">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div role="group" style=" padding:5px; min-height:25px; position:absolute; display:flex; bottom:0;">
                                    <a asp-controller="Recipe" asp-action="Select" asp-route-id="@obj.RecipeId" class="btn btn-success mx-1" style="border-radius:20px;"><i class="bi bi-arrow-down-circle"></i></a>
                                    <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@obj.RecipeId" class="btn btn-primary mx-1" style="border-radius:20px;"><i class="bi bi-pencil"></i></a>
                                    <a asp-controller="Recipe" asp-action="Delete" asp-route-id="@obj.RecipeId" class="btn btn-danger mx-1" style="border-radius:20px;"><i class="bi bi-trash"></i></a>

                                </div>
                            }
                        </div>
                        <div>
                            <div>
                                <h3 class="" style="text-decoration:solid; padding-left:2%; padding-right:2%; padding-top:2%;">@obj.Name</h3>
                                <p style="padding-left:2%; padding-right:2%;" style="max-height:50%; overflow:clip;">@obj.Desc</p>
                            </div>

                        </div>

                    </div>
                }
            </div>

        </div>
        

    </div>
    

</body>

