@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ItemRecipe>

<script>

    let var itemCalories = 0;
    
        
    
</script>


<body>

    <div class="recipe-info-body">
            <div style="height:35vh; position:relative;">
                <div class="recipe-info-title-container">
                    <h1 class="recipe-info-title">@Model.First().Recipe.Name</h1>
                    <h2 class="recipe-info-description">@Model.First().Recipe.Desc</h2>
                </div>
                <div class="recipe-info-headerimage">  
                    
                </div>
            </div>
        

        <div class="container p-3" style="width:100%;">
            
            <div style="display:flex; justify-content:flex-start;">
                <div style="width:50%;">
                    <div style="display:flex; align-items:center;" id="ingredients">
                    <h2>Ingredients</h2>
                    <a asp-controller="Recipe" asp-action="Select" asp-route-id="@Model.First().RecipeId" style="border-radius:20px; color:green; margin-left:2px;">Add</i></a>
                    </div>
                    <div style="align-items: center; display:grid; grid-template-columns: 35% 35%;">
                        @if (Model.First().Item != null)
                            foreach (var obj in Model)
                            {
                                <div style="display:flex;">
                                    <a asp-controller="Recipe" asp-action="DeleteRecipeItem" asp-route-id="@obj.ItemRecipeId" style="padding-top:17px; color:red; margin-left: 12px;"><i class="bi bi-x"></i></a>
                                    <div style="margin-left: 4px;">
                                        
                                        @{
                                            if(obj.Amount < 45 && obj.Item.ServingType != "Whole")
                                            {
                                                if(obj.Amount%15 == 0)
                                                {
                                                    <p class="recipe-info-ingredient-amount">@(obj.Amount / 15) Tbs (@obj.Amount @obj.Item.ServingType)</p>
                                                }
                                                else if (obj.Amount % 5 == 0 && obj.Amount < 15)
                                                {
                                                    <p class="recipe-info-ingredient-amount">@(obj.Amount / 5) tsp (@obj.Amount @obj.Item.ServingType)</p>
                                                }
                                                else
                                                {
                                                    <p class="recipe-info-ingredient-amount">@obj.Amount @obj.Item.ServingType</p>
                                                }
                                            }
                                            else if (obj.Item.ServingType != "Whole" && obj.Amount % 125 == 0)
                                            {
                                                <p class="recipe-info-ingredient-amount">@((obj.Amount / 125) / 2f) cups (@obj.Amount @obj.Item.ServingType)</p>
                                            }
                                            else
                                            {
                                                @if (obj.Amount > 0)
                                                {
                                                    <p class="recipe-info-ingredient-amount">@(obj.Amount/obj.Item.ServingSize) @obj.Item.ServingType</p>
                                                }else{
                                                    <p class="recipe-info-ingredient-amount">No Value</p>
                                                }
                                                
                                            }

                                        }
                                        <p style="font-weight:bold; color:#232323;">@obj.Item.Name</p>
                                    </div>
                                </div>
                                
                            }
                    </div>

                    
                </div>
                <div style="width:50%;">
                    <h2>Macros</h2>
                    <div style="width:100%; display:flex; justify-content:flex-start; ">
                        <div>
                            <ul style="list-style: none; padding-left: 0; margin-left: 0; font-weight:bold;">
                                <li>Carbs:</li>
                                <li>Fat:</li>
                                <li>Protein:</li>
                            </ul>
                        </div>
                        <div>
                            <ul style="list-style: none;">
                                <li>@Model.First().Recipe.Carbohydrates</li>
                                <li>@Model.First().Recipe.Fat</li>
                                <li>@Model.First().Recipe.Protein</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>

        
            </div>

            <hr class="divider"></hr>
            
            <div style="display:flex; align-items:center;" id="method">
                <h2>Method</h2> 
                <a asp-controller="Recipe" asp-action="Step" asp-route-id="@Model.First().RecipeId" style="border-radius:20px; color:green; margin-left:2px;"> Add</a>
             </div>

            <ul style="list-style-type:none; padding-left: 10; margin-left: 0;">

                    @if (Model.First().Recipe.Steps != null)
                        foreach (var obj in Model.First().Recipe.Steps)
                        {
                        <li class="pt-2">
                          <a><strong>Step @obj.StepNumber</strong></a>
                        </li>

                        <li>
                            @{
                                var boldedStep = obj.Description;
                                foreach(var item in Model)
                                {

                                    boldedStep = boldedStep.Replace(item.Item.Name, "<b>"+item.Item.Name+"</b>");
                                }
                                    <p>@Html.Raw(boldedStep)</p>
                                }
                                
                            </li>
                        }




                 </ul>
            
        </div>
    </div>
</body>