@model IEnumerable<Item>


<h1>Item Index</h1>

<partial name="_Notification" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Item List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Item" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Item
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%; table-layout:auto ;">
    <thead>
        <tr>
            <th>
                <a asp-controller="Item" asp-action="Index" asp-route-sortOrder="nameSort">Name</a>
            </th>
            <th>
                Serving Desc
            </th>
            <th>
                Serving (grams)
            </th>
            <th>
                <a asp-controller="Item" asp-action="Index" asp-route-sortOrder="proteinSort">Protein (per 100g)</a>
            </th>
            <th>
                <a asp-controller="Item" asp-action="Index" asp-route-sortOrder="fatSort">Fat (per 100g)</a>
            </th>
            <th>
                <a asp-controller="Item" asp-action="Index" asp-route-sortOrder="carbSort">Carbs (per 100g)</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model){
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.ServingDesc
                </td>
                <td>
                    @obj.ServingSize
                </td>
                <td>
                    @obj.Protein
                </td>
                <td>
                    @obj.Fat
                </td>
                <td>
                    @obj.Carbohydrates
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="Item" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil"></i>Edit</a>
                        <a asp-controller="RecipeItem" asp-action="StoreItem" asp-route-id="@obj.Id" class="btn btn-success mx-2"><i class="bi bi-box-arrow-in-down"></i>Store</a>
                        <a asp-controller="Item" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
